<form ng-controller="postCtrl" ng-submit="postStatus()">
  <fieldset>
    <legend class="u-hide-visually">Post a status update</legend>
    <label class="u-hide-visually" for="status-update-input">Update your status</label>
    <div class="status-update">
      <input class="status-update__input" type="text" id="status-update-input" required placeholder="Update your status" ng-model="status" />
      <button class="status-update__button" type="submit">Post</button>
    </div>
  </fieldset>
</form>

<main>
  <h1 class="u-hide-visually">Your feed</h1>

  <ul class="posts">
    <li class="posts__list-item" ng-repeat="post in allPosts" ng-hide="!post">
      <post
        id="{{post.id}}"
        name="{{post.name}}"
        date="{{post.date}}"
        text="{{post.text}}" />
    </li>
  </ul>
</main>
